@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Coves Light";
    src: local("CovesLight"),
    url("./assets/fonts/coves/CovesLight.otf") format("truetype");
}

@font-face {
    font-family: "Coves Bold";
    src: local("CovesBold"),
    url("./assets/fonts/coves/CovesBold.otf") format("truetype");
}